PD - Malandrino/EsempiProgetto/Legambiente/LegaClientWeb/src/META-INF/wsdl/localhost_8080/CircoloEJBService/CircoloEJB.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://server/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://server/">

<xs:element name="createCircolo" type="tns:createCircolo"/>

<xs:element name="createCircoloResponse" type="tns:createCircoloResponse"/>

<xs:element name="deleteCircolo" type="tns:deleteCircolo"/>

<xs:element name="deleteCircoloResponse" type="tns:deleteCircoloResponse"/>

<xs:element name="findAll" type="tns:findAll"/>

<xs:element name="findAllResponse" type="tns:findAllResponse"/>

<xs:element name="findById" type="tns:findById"/>

<xs:element name="findByIdResponse" type="tns:findByIdResponse"/>

<xs:element name="findByRegione" type="tns:findByRegione"/>

<xs:element name="findByRegioneResponse" type="tns:findByRegioneResponse"/>

<xs:element name="modifyCircolo" type="tns:modifyCircolo"/>

<xs:element name="modifyCircoloResponse" type="tns:modifyCircoloResponse"/>

<xs:complexType name="deleteCircolo">
<xs:sequence>
<xs:element name="arg0" type="tns:circolo" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="circolo">
<xs:sequence>
<xs:element name="citta" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="nome" type="xs:string" minOccurs="0"/>
<xs:element name="provincia" type="xs:string" minOccurs="0"/>
<xs:element name="regione" type="xs:string" minOccurs="0"/>
<xs:element name="responsabile" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteCircoloResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findById">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:circolo" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createCircolo">
<xs:sequence>
<xs:element name="arg0" type="tns:circolo" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createCircoloResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findAll">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findAllResponse">
<xs:sequence>
<xs:element name="return" type="tns:circolo" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findByRegione">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findByRegioneResponse">
<xs:sequence>
<xs:element name="return" type="tns:circolo" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="modifyCircolo">
<xs:sequence>
<xs:element name="arg0" type="tns:circolo" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="modifyCircoloResponse">
<xs:sequence/>
</xs:complexType>
</xs:schema>