PD - Malandrino/EsempiProgetto/OggettiSmarriti/OggettiWebClient/src/META-INF/wsdl/localhost_8080/OggettoEJBService/OggettoEJB.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://server/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://server/" name="OggettoEJBService">
<types>
<xsd:schema>
<xsd:import namespace="http://server/" schemaLocation="http://localhost:8080/OggettoEJBService/OggettoEJB?xsd=1"/>
</xsd:schema>
</types>
<message name="findAll">
<part name="parameters" element="tns:findAll"/>
</message>
<message name="findAllResponse">
<part name="parameters" element="tns:findAllResponse"/>
</message>
<message name="deleteOggetto">
<part name="parameters" element="tns:deleteOggetto"/>
</message>
<message name="deleteOggettoResponse">
<part name="parameters" element="tns:deleteOggettoResponse"/>
</message>
<message name="findByCategoria">
<part name="parameters" element="tns:findByCategoria"/>
</message>
<message name="findByCategoriaResponse">
<part name="parameters" element="tns:findByCategoriaResponse"/>
</message>
<message name="findByLuogo">
<part name="parameters" element="tns:findByLuogo"/>
</message>
<message name="findByLuogoResponse">
<part name="parameters" element="tns:findByLuogoResponse"/>
</message>
<message name="findById">
<part name="parameters" element="tns:findById"/>
</message>
<message name="findByIdResponse">
<part name="parameters" element="tns:findByIdResponse"/>
</message>
<message name="modifyOggetto">
<part name="parameters" element="tns:modifyOggetto"/>
</message>
<message name="modifyOggettoResponse">
<part name="parameters" element="tns:modifyOggettoResponse"/>
</message>
<message name="createOggetto">
<part name="parameters" element="tns:createOggetto"/>
</message>
<message name="createOggettoResponse">
<part name="parameters" element="tns:createOggettoResponse"/>
</message>
<portType name="OggettoEJB">
<operation name="findAll">
<input wsam:Action="http://server/OggettoEJB/findAllRequest" message="tns:findAll"/>
<output wsam:Action="http://server/OggettoEJB/findAllResponse" message="tns:findAllResponse"/>
</operation>
<operation name="deleteOggetto">
<input wsam:Action="http://server/OggettoEJB/deleteOggettoRequest" message="tns:deleteOggetto"/>
<output wsam:Action="http://server/OggettoEJB/deleteOggettoResponse" message="tns:deleteOggettoResponse"/>
</operation>
<operation name="findByCategoria">
<input wsam:Action="http://server/OggettoEJB/findByCategoriaRequest" message="tns:findByCategoria"/>
<output wsam:Action="http://server/OggettoEJB/findByCategoriaResponse" message="tns:findByCategoriaResponse"/>
</operation>
<operation name="findByLuogo">
<input wsam:Action="http://server/OggettoEJB/findByLuogoRequest" message="tns:findByLuogo"/>
<output wsam:Action="http://server/OggettoEJB/findByLuogoResponse" message="tns:findByLuogoResponse"/>
</operation>
<operation name="findById">
<input wsam:Action="http://server/OggettoEJB/findByIdRequest" message="tns:findById"/>
<output wsam:Action="http://server/OggettoEJB/findByIdResponse" message="tns:findByIdResponse"/>
</operation>
<operation name="modifyOggetto">
<input wsam:Action="http://server/OggettoEJB/modifyOggettoRequest" message="tns:modifyOggetto"/>
<output wsam:Action="http://server/OggettoEJB/modifyOggettoResponse" message="tns:modifyOggettoResponse"/>
</operation>
<operation name="createOggetto">
<input wsam:Action="http://server/OggettoEJB/createOggettoRequest" message="tns:createOggetto"/>
<output wsam:Action="http://server/OggettoEJB/createOggettoResponse" message="tns:createOggettoResponse"/>
</operation>
</portType>
<binding name="OggettoEJBPortBinding" type="tns:OggettoEJB">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="findAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteOggetto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findByCategoria">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findByLuogo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="modifyOggetto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createOggetto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="OggettoEJBService">
<port name="OggettoEJBPort" binding="tns:OggettoEJBPortBinding">
<soap:address location="http://localhost:8080/OggettoEJBService/OggettoEJB"/>
</port>
</service>
</definitions>