PD - Malandrino/EsempiProgetto/Legambiente/LegaClientWeb/xml-resources/web-service-references/CircoloEJB/wsdl/localhost_8080/CircoloEJBService/CircoloEJB.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://server/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://server/" name="CircoloEJBService">
<types>
<xsd:schema>
<xsd:import namespace="http://server/" schemaLocation="http://localhost:8080/CircoloEJBService/CircoloEJB?xsd=1"/>
</xsd:schema>
</types>
<message name="modifyCircolo">
<part name="parameters" element="tns:modifyCircolo"/>
</message>
<message name="modifyCircoloResponse">
<part name="parameters" element="tns:modifyCircoloResponse"/>
</message>
<message name="createCircolo">
<part name="parameters" element="tns:createCircolo"/>
</message>
<message name="createCircoloResponse">
<part name="parameters" element="tns:createCircoloResponse"/>
</message>
<message name="deleteCircolo">
<part name="parameters" element="tns:deleteCircolo"/>
</message>
<message name="deleteCircoloResponse">
<part name="parameters" element="tns:deleteCircoloResponse"/>
</message>
<message name="findByRegione">
<part name="parameters" element="tns:findByRegione"/>
</message>
<message name="findByRegioneResponse">
<part name="parameters" element="tns:findByRegioneResponse"/>
</message>
<message name="findAll">
<part name="parameters" element="tns:findAll"/>
</message>
<message name="findAllResponse">
<part name="parameters" element="tns:findAllResponse"/>
</message>
<message name="findById">
<part name="parameters" element="tns:findById"/>
</message>
<message name="findByIdResponse">
<part name="parameters" element="tns:findByIdResponse"/>
</message>
<portType name="CircoloEJB">
<operation name="modifyCircolo">
<input wsam:Action="http://server/CircoloEJB/modifyCircoloRequest" message="tns:modifyCircolo"/>
<output wsam:Action="http://server/CircoloEJB/modifyCircoloResponse" message="tns:modifyCircoloResponse"/>
</operation>
<operation name="createCircolo">
<input wsam:Action="http://server/CircoloEJB/createCircoloRequest" message="tns:createCircolo"/>
<output wsam:Action="http://server/CircoloEJB/createCircoloResponse" message="tns:createCircoloResponse"/>
</operation>
<operation name="deleteCircolo">
<input wsam:Action="http://server/CircoloEJB/deleteCircoloRequest" message="tns:deleteCircolo"/>
<output wsam:Action="http://server/CircoloEJB/deleteCircoloResponse" message="tns:deleteCircoloResponse"/>
</operation>
<operation name="findByRegione">
<input wsam:Action="http://server/CircoloEJB/findByRegioneRequest" message="tns:findByRegione"/>
<output wsam:Action="http://server/CircoloEJB/findByRegioneResponse" message="tns:findByRegioneResponse"/>
</operation>
<operation name="findAll">
<input wsam:Action="http://server/CircoloEJB/findAllRequest" message="tns:findAll"/>
<output wsam:Action="http://server/CircoloEJB/findAllResponse" message="tns:findAllResponse"/>
</operation>
<operation name="findById">
<input wsam:Action="http://server/CircoloEJB/findByIdRequest" message="tns:findById"/>
<output wsam:Action="http://server/CircoloEJB/findByIdResponse" message="tns:findByIdResponse"/>
</operation>
</portType>
<binding name="CircoloEJBPortBinding" type="tns:CircoloEJB">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="modifyCircolo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createCircolo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteCircolo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findByRegione">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CircoloEJBService">
<port name="CircoloEJBPort" binding="tns:CircoloEJBPortBinding">
<soap:address location="http://localhost:8080/CircoloEJBService/CircoloEJB"/>
</port>
</service>
</definitions>